body {
    background-image: url(img/statc.jpg);
    clear: both;
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: both; 
}

header {
    background-color: aqua;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
header {
    animation-name: troca;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes troca {
    0%{
        background-color: aqua;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    25%{
        background-color: darkred;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    50%{
        background-color: green;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    75%{
        background-color: goldenrod;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    90%{
        background-color: purple;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        background-color: aqua;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

article {
    background-color: lightslategrey;
}

.imagem {
    width: 300px;
}

#control:hover {
    background-color: crimson;
    color: white;
}
#subnaltica:hover {
    background-color: aqua;
    color: orangered;
}
#portal:hover {
    background-color: slategray;
    color: cyan;
}
#rec:hover {
    background-color: darkslateblue;
    color: floralwhite;
}
#little:hover {
    background-color: gold;
}

#preto {
    background-color: black;
}

footer {
    background-color: darksalmon;
}

#enviar:hover {
    background-color: rgb(17, 17, 83);
    color: ghostwhite;
    cursor: pointer;
}

#com  {
    background-color: ghostwhite;
    text-align: left;
}

section {
    font-size: 20px;
}